# Food price watch in Nigeria

### Brief description of Dataset

The Selected food price watch data represents different prices of food items and the comparison in their prices across different states in the country.It displayed the prices of different food items from January 2017 till August 2018. The data representation also displays the percentage increase/decrease in the price of food items from the year 2017 to 2018. It also reflected the percentage increase/decrease in the price of food items between January and August 2018. The remaining four columns displays the state with the highest price and the state with the lowest price of a particular food item respectively. 

In this tutorial, we will use Pandas library to perform some operations on the dataset.

In [5]:
import sys
sys.path.append('/Users/AkandeImisioluwa/.virtualenvs/venv/lib/python3.6/site-packages')
import pandas as pd
import xlrd

In [6]:
fp = pd.read_csv('food_price.csv')

In [8]:
df = pd.read_excel("food_price.xlsx", sheetname="sheet1")

/Users/AkandeImisioluwa/anaconda3/envs/news/lib/python3.6/site-packages/pandas/util/_decorators.py:118: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

XLRDError: No sheet named <'sheet1'>

#### Check the head of the DataFrame

In [37]:
fp.head(5)

,ItemLabels,Jan-17,Feb-17,Mar-17,Apr-17,May-17,Jun-17,Jul-17,Aug-17,Sep-17,...,May-18,Jun-18,Jul-18,Aug-18,Year on Year %,Month on Month %,high state,higher price,low state,lower price
0,Agric eggs medium size,597.00,591.82,586.32,526.32,528.42,526.50,468.24,492.63,473.68,...,462.35,496.92,477.04,503.81,2.27,5.61,Anambra,555.56,Yobe,405.56
1,Agric eggs(medium size price of one),50.74,54.14,51.05,49.41,49.28,45.43,40.88,41.18,40.31,...,41.14,39.23,40.19,42.57,3.39,5.94,Anambra,50.00,Gombe,34.00
2,"Beans brown,sold loose",416.70,418.10,395.17,358.96,388.76,412.53,424.56,488.13,484.87,...,400.00,457.55,495.90,467.76,-4.17,-5.67,Ebonyi,554.43,Bauchi,250.19
3,Beans:white black eye. sold loose,364.85,354.73,356.56,348.42,386.97,411.22,409.92,402.11,406.27,...,526.36,530.75,443.56,446.56,11.06,0.68,Ebonyi,493.76,Adamawa,245.58
4,Beef Bone in,1008.16,1025.56,1124.77,1055.56,1132.64,1169.07,1111.11,1122.83,1192.13,...,1500.00,1320.59,1256.79,1230.00,9.54,-2.13,Bayelsa,1279.19,Osun,754.05

#### Check the tail of the DataFrame

In [76]:
fp.tail(5)

,ItemLabels,Jan-17,Feb-17,Mar-17,Apr-17,May-17,Jun-17,Jul-17,Aug-17,Sep-17,...,May-18,Jun-18,Jul-18,Aug-18,Year on Year %,Month on Month %,high state,higher price,low state,lower price
39,Plantain(ripe),302.21,300.00,287.36,261.97,243.92,255.28,276.84,234.50,256.89,...,259.20,240.24,222.75,229.31,-2.21,2.94,Sokoto,411.76,Bayelsa,186.40
40,Plantain(unripe),307.14,284.35,283.09,292.20,283.11,286.05,270.61,256.92,284.83,...,203.66,190.48,205.04,198.79,-22.63,-3.05,Plateau,441.52,Bayelsa,168.57
41,"Vegetable oil:1 bottle,specify bottle",598.42,507.26,538.18,552.81,559.14,550.00,555.55,578.57,555.30,...,566.67,530.30,523.08,522.81,-9.64,-0.05,Kogi,762.67,Niger,386.67
42,Wheat flour: prepacked (golden penny 2kg),636.66,666.27,631.25,625.79,622.55,639.04,639.44,644.09,602.52,...,632.90,619.05,610.37,594.74,-7.66,-2.56,Bayelsa,742.00,Zamfara,510.00
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
fp.shape

(44, 27)

#### Select rows via numerical based index

In [83]:
fp.iloc[1]

ItemLabels          Agric eggs(medium size price of one)
Jan-17                                             50.74
Feb-17                                             54.14
Mar-17                                             51.05
Apr-17                                             49.41
May-17                                             49.28
Jun-17                                             45.43
Jul-17                                             40.88
Aug-17                                             41.18
Sep-17                                             40.31
Oct-17                                             40.15
Nov-17                                             41.51
Dec-17                                             40.94
Jan-18                                                35
Feb-18                                             40.79
Mar-18                                             40.65
Apr-18                                             39.05
May-18                                             41.14
Jun-18                                             39.23
Jul-18                                             40.19
Aug-18                                             42.57
Year on Year %                                      3.39
Month on Month %                                    5.94
high state                                       Anambra
higher price                                          50
low state                                         Gombe
lower price                                           34
Name: 1, dtype: object

#### Return food items with purchasing price above 1500 Naira in June and July 2018

In [104]:
fp[(fp['Jun-18']>1500)& (fp['Jul-18']>1500)]

,ItemLabels,Jan-17,Feb-17,Mar-17,Apr-17,May-17,Jun-17,Jul-17,Aug-17,Sep-17,...,May-18,Jun-18,Jul-18,Aug-18,Year on Year %,Month on Month %,high state,higher price,low state,lower price
17,Mudfish : dried,2475.72,2169.01,2206.00,2215.99,2331.72,2204.17,2405.77,2464.29,2483.33,...,2093.91,2000.79,2200.00,1991.67,-19.18,-9.47,Ekiti,3170.68,Kaduna,1174.85
32,Catfish :dried,2252.65,2300.35,2369.82,2359.63,2365.06,2404.51,2400.69,2400.00,2385.84,...,1827.48,1891.67,1852.86,1854.03,-22.75,0.06,Abia,2688.69,Sokoto,966.67
33,Catfish Smoked,1554.26,1576.92,1575.00,1509.26,1500.50,1513.64,1522.30,1526.37,1514.37,...,1500.00,1511.75,1600.00,1671.98,9.54,4.50,Yobe,2000.14,Kwara,1113.33

In [106]:
fp.index

RangeIndex(start=0, stop=44, step=1)

In [93]:
byFoodItems.describe()

                                          Apr-17                        \
                                           count     mean std      min
ItemLabels
Agric eggs medium size                       1.0   526.32 NaN   526.32
Agric eggs(medium size price of one)         1.0    49.41 NaN    49.41
Beans brown,sold loose                       1.0   358.96 NaN   358.96
Beans:white black eye. sold loose            1.0   348.42 NaN   348.42
Beef Bone in                                 1.0  1055.56 NaN  1055.56
Beef,boneless                                1.0  1264.91 NaN  1264.91
Bread sliced 500g                            1.0   289.47 NaN   289.47
Bread unsliced 500g                          1.0   253.89 NaN   253.89
Broken Rice (Ofada)                          1.0   705.56 NaN   705.56
Catfish (obokun) fresh                       1.0  1332.69 NaN  1332.69
Catfish :dried                               1.0  2359.63 NaN  2359.63
Catfish Smoked                               1.0  1509.26 NaN  1509.26
Chicken Feet                                 1.0   916.67 NaN   916.67
Chicken Wings                                1.0  1062.13 NaN  1062.13
Dried Fish Sardine                           1.0  1921.48 NaN  1921.48
Evaporated tinned milk carnation 170g        1.0   150.00 NaN   150.00
Evaporated tinned milk(peak), 170g           1.0   196.11 NaN   196.11
Frozen chicken                               1.0  1378.95 NaN  1378.95
Gari white,sold loose                        1.0   280.03 NaN   280.03
Gari yellow,sold loose                       1.0   302.72 NaN   302.72
Groundnut oil: 1 bottle, specify bottle      1.0   500.00 NaN   500.00
Iced Sardine                                 1.0   828.89 NaN   828.89
Irish potato                                 1.0   321.98 NaN   321.98
Mackerel : frozen                            1.0  1067.59 NaN  1067.59
Maize grain white sold loose                 1.0   236.16 NaN   236.16
Maize grain yellow sold loose                1.0   242.80 NaN   242.80
Mudfish (aro) fresh                          1.0  1088.89 NaN  1088.89
Mudfish : dried                              1.0  2215.99 NaN  2215.99
Onion bulb                                   1.0   285.21 NaN   285.21
Palm oil: 1 bottle,specify bottle            1.0   508.85 NaN   508.85
Plantain(ripe)                               1.0   261.97 NaN   261.97
Plantain(unripe)                             1.0   292.20 NaN   292.20
Rice Medium Grained                          1.0   322.58 NaN   322.58
Rice agric sold loose                        1.0   369.78 NaN   369.78
Rice local sold loose                        1.0   345.00 NaN   345.00
Rice,imported high quality sold loose        1.0   329.84 NaN   329.84
Sweet potato                                 1.0   138.97 NaN   138.97
Tilapia fish (epiya) fresh                   1.0   942.13 NaN   942.13
Titus:frozen                                 1.0   931.68 NaN   931.68
Tomato                                       1.0   450.00 NaN   450.00
Vegetable oil:1 bottle,specify bottle        1.0   552.81 NaN   552.81
Wheat flour: prepacked (golden penny 2kg)    1.0   625.79 NaN   625.79
Yam tuber                                    1.0   233.42 NaN   233.42

                                                                               \
                                               25%      50%      75%      max
ItemLabels
Agric eggs medium size                      526.32   526.32   526.32   526.32
Agric eggs(medium size price of one)         49.41    49.41    49.41    49.41
Beans brown,sold loose                      358.96   358.96   358.96   358.96
Beans:white black eye. sold loose           348.42   348.42   348.42   348.42
Beef Bone in                               1055.56  1055.56  1055.56  1055.56
Beef,boneless                              1264.91  1264.91  1264.91  1264.91
Bread sliced 500g                           289.47   289.47   289.47   289.47
Bread unsliced 500g                         253.89   253.89   253.89   253.89
Broken Rice (Ofada)                         705.56   705.56   705.56   705.56
Catfish (obokun) fresh                     1332.69  1332.69  1332.69  1332.69
Catfish :dried                             2359.63  2359.63  2359.63  2359.63
Catfish Smoked                             1509.26  1509.26  1509.26  1509.26
Chicken Feet                                916.67   916.67   916.67   916.67
Chicken Wings                              1062.13  1062.13  1062.13  1062.13
Dried Fish Sardine                         1921.48  1921.48  1921.48  1921.48
Evaporated tinned milk carnation 170g       150.00   150.00   150.00   150.00
Evaporated tinned milk(peak), 170g          196.11   196.11   196.11   196.11
Frozen chicken                             1378.95  1378.95  1378.95  1378.95
Gari white,sold loose                       280.03   280.03   280.03   280.03
Gari yellow,sold loose                      302.72   302.72   302.72   302.72
Groundnut oil: 1 bottle, specify bottle     500.00   500.00   500.00   500.00
Iced Sardine                                828.89   828.89   828.89   828.89
Irish potato                                321.98   321.98   321.98   321.98
Mackerel : frozen                          1067.59  1067.59  1067.59  1067.59
Maize grain white sold loose                236.16   236.16   236.16   236.16
Maize grain yellow sold loose               242.80   242.80   242.80   242.80
Mudfish (aro) fresh                        1088.89  1088.89  1088.89  1088.89
Mudfish : dried                            2215.99  2215.99  2215.99  2215.99
Onion bulb                                  285.21   285.21   285.21   285.21
Palm oil: 1 bottle,specify bottle           508.85   508.85   508.85   508.85
Plantain(ripe)                              261.97   261.97   261.97   261.97
Plantain(unripe)                            292.20   292.20   292.20   292.20
Rice Medium Grained                         322.58   322.58   322.58   322.58
Rice agric sold loose                       369.78   369.78   369.78   369.78
Rice local sold loose                       345.00   345.00   345.00   345.00
Rice,imported high quality sold loose       329.84   329.84   329.84   329.84
Sweet potato                                138.97   138.97   138.97   138.97
Tilapia fish (epiya) fresh                  942.13   942.13   942.13   942.13
Titus:frozen                                931.68   931.68   931.68   931.68
Tomato                                      450.00   450.00   450.00   450.00
Vegetable oil:1 bottle,specify bottle       552.81   552.81   552.81   552.81
Wheat flour: prepacked (golden penny 2kg)   625.79   625.79   625.79   625.79
Yam tuber                                   233.42   233.42   233.42   233.42

                                          Apr-18            ...     \
                                           count     mean   ...
ItemLabels                                                  ...
Agric eggs medium size                       1.0   482.38   ...
Agric eggs(medium size price of one)         1.0    39.05   ...
Beans brown,sold loose                       1.0   461.71   ...
Beans:white black eye. sold loose            1.0   441.54   ...
Beef Bone in                                 1.0  1090.74   ...
Beef,boneless                                1.0  1250.97   ...
Bread sliced 500g                            1.0   297.62   ...
Bread unsliced 500g                          1.0   252.27   ...
Broken Rice (Ofada)                          1.0   578.24   ...
Catfish (obokun) fresh                       1.0  1165.03   ...
Catfish :dried                               1.0  1807.69   ...
Catfish Smoked                               1.0  1500.00   ...
Chicken Feet                                 1.0   792.86   ...
Chicken Wings                                1.0  1010.00   ...
Dried Fish Sardine                           1.0  1350.00   ...
Evaporated tinned milk carnation 170g        1.0   158.00   ...
Evaporated tinned milk(peak), 170g           1.0   195.16   ...
Frozen chicken                               1.0  1240.00   ...
Gari white,sold loose                        1.0   200.66   ...
Gari yellow,sold loose                       1.0   241.18   ...
Groundnut oil: 1 bottle, specify bottle      1.0   550.00   ...
Iced Sardine                                 1.0   887.50   ...
Irish potato                                 1.0   339.82   ...
Mackerel : frozen                            1.0   918.00   ...
Maize grain white sold loose                 1.0   232.52   ...
Maize grain yellow sold loose                1.0   239.88   ...
Mudfish (aro) fresh                          1.0  1286.67   ...
Mudfish : dried                              1.0  1917.86   ...
Onion bulb                                   1.0   301.09   ...
Palm oil: 1 bottle,specify bottle            1.0   450.00   ...
Plantain(ripe)                               1.0   246.28   ...
Plantain(unripe)                             1.0   187.99   ...
Rice Medium Grained                          1.0   308.26   ...
Rice agric sold loose                        1.0   307.57   ...
Rice local sold loose                        1.0   266.67   ...
Rice,imported high quality sold loose        1.0   296.39   ...
Sweet potato                                 1.0   157.96   ...
Tilapia fish (epiya) fresh                   1.0  1214.29   ...
Titus:frozen                                 1.0   984.21   ...
Tomato                                       1.0   530.18   ...
Vegetable oil:1 bottle,specify bottle        1.0   528.67   ...
Wheat flour: prepacked (golden penny 2kg)    1.0   609.47   ...
Yam tuber                                    1.0   390.31   ...

                                          higher price          lower price  \
                                                   75%      max       count
ItemLabels
Agric eggs medium size                          555.56   555.56         1.0
Agric eggs(medium size price of one)             50.00    50.00         1.0
Beans brown,sold loose                          554.43   554.43         1.0
Beans:white black eye. sold loose               493.76   493.76         1.0
Beef Bone in                                   1279.19  1279.19         1.0
Beef,boneless                                  1522.50  1522.50         1.0
Bread sliced 500g                               414.55   414.55         1.0
Bread unsliced 500g                             413.64   413.64         1.0
Broken Rice (Ofada)                             760.81   760.81         1.0
Catfish (obokun) fresh                         1312.70  1312.70         1.0
Catfish :dried                                 2688.69  2688.69         1.0
Catfish Smoked                                 2000.14  2000.14         1.0
Chicken Feet                                   1240.00  1240.00         1.0
Chicken Wings                                  1350.00  1350.00         1.0
Dried Fish Sardine                             1751.12  1751.12         1.0
Evaporated tinned milk carnation 170g           230.00   230.00         1.0
Evaporated tinned milk(peak), 170g              204.00   204.00         1.0
Frozen chicken                                 2350.58  2350.58         1.0
Gari white,sold loose                           381.01   381.01         1.0
Gari yellow,sold loose                          401.64   401.64         1.0
Groundnut oil: 1 bottle, specify bottle         733.33   733.33         1.0
Iced Sardine                                   1283.48  1283.48         1.0
Irish potato                                    403.19   403.19         1.0
Mackerel : frozen                              1020.53  1020.53         1.0
Maize grain white sold loose                    301.51   301.51         1.0
Maize grain yellow sold loose                   347.81   347.81         1.0
Mudfish (aro) fresh                            1483.86  1483.86         1.0
Mudfish : dried                                3170.68  3170.68         1.0
Onion bulb                                      358.32   358.32         1.0
Palm oil: 1 bottle,specify bottle               587.41   587.41         1.0
Plantain(ripe)                                  411.76   411.76         1.0
Plantain(unripe)                                441.52   441.52         1.0
Rice Medium Grained                             458.13   458.13         1.0
Rice agric sold loose                           613.04   613.04         1.0
Rice local sold loose                           420.02   420.02         1.0
Rice,imported high quality sold loose           521.65   521.65         1.0
Sweet potato                                    291.69   291.69         1.0
Tilapia fish (epiya) fresh                     1782.72  1782.72         1.0
Titus:frozen                                   1170.00  1170.00         1.0
Tomato                                          563.47   563.47         1.0
Vegetable oil:1 bottle,specify bottle           762.67   762.67         1.0
Wheat flour: prepacked (golden penny 2kg)       742.00   742.00         1.0
Yam tuber                                       488.02   488.02         1.0

                                                                          \
                                              mean std      min      25%
ItemLabels
Agric eggs medium size                      405.56 NaN   405.56   405.56
Agric eggs(medium size price of one)         34.00 NaN    34.00    34.00
Beans brown,sold loose                      250.19 NaN   250.19   250.19
Beans:white black eye. sold loose           245.58 NaN   245.58   245.58
Beef Bone in                                754.05 NaN   754.05   754.05
Beef,boneless                               939.72 NaN   939.72   939.72
Bread sliced 500g                           238.89 NaN   238.89   238.89
Bread unsliced 500g                         227.27 NaN   227.27   227.27
Broken Rice (Ofada)                         233.33 NaN   233.33   233.33
Catfish (obokun) fresh                      800.88 NaN   800.88   800.88
Catfish :dried                              966.67 NaN   966.67   966.67
Catfish Smoked                             1113.33 NaN  1113.33  1113.33
Chicken Feet                                348.33 NaN   348.33   348.33
Chicken Wings                               533.33 NaN   533.33   533.33
Dried Fish Sardine                          904.81 NaN   904.81   904.81
Evaporated tinned milk carnation 170g       142.50 NaN   142.50   142.50
Evaporated tinned milk(peak), 170g          162.14 NaN   162.14   162.14
Frozen chicken                             1100.00 NaN  1100.00  1100.00
Gari white,sold loose                       100.67 NaN   100.67   100.67
Gari yellow,sold loose                      113.79 NaN   113.79   113.79
Groundnut oil: 1 bottle, specify bottle     470.00 NaN   470.00   470.00
Iced Sardine                                554.55 NaN   554.55   554.55
Irish potato                                171.74 NaN   171.74   171.74
Mackerel : frozen                           713.87 NaN   713.87   713.87
Maize grain white sold loose                 94.56 NaN    94.56    94.56
Maize grain yellow sold loose                96.53 NaN    96.53    96.53
Mudfish (aro) fresh                         779.80 NaN   779.80   779.80
Mudfish : dried                            1174.85 NaN  1174.85  1174.85
Onion bulb                                  134.88 NaN   134.88   134.88
Palm oil: 1 bottle,specify bottle           432.00 NaN   432.00   432.00
Plantain(ripe)                              186.40 NaN   186.40   186.40
Plantain(unripe)                            168.57 NaN   168.57   168.57
Rice Medium Grained                         226.70 NaN   226.70   226.70
Rice agric sold loose                       237.18 NaN   237.18   237.18
Rice local sold loose                       211.84 NaN   211.84   211.84
Rice,imported high quality sold loose       284.89 NaN   284.89   284.89
Sweet potato                                 90.58 NaN    90.58    90.58
Tilapia fish (epiya) fresh                  550.00 NaN   550.00   550.00
Titus:frozen                                696.67 NaN   696.67   696.67
Tomato                                      194.95 NaN   194.95   194.95
Vegetable oil:1 bottle,specify bottle       386.67 NaN   386.67   386.67
Wheat flour: prepacked (golden penny 2kg)   510.00 NaN   510.00   510.00
Yam tuber                                   139.39 NaN   139.39   139.39


                                               50%      75%      max
ItemLabels
Agric eggs medium size                      405.56   405.56   405.56
Agric eggs(medium size price of one)         34.00    34.00    34.00
Beans brown,sold loose                      250.19   250.19   250.19
Beans:white black eye. sold loose           245.58   245.58   245.58
Beef Bone in                                754.05   754.05   754.05
Beef,boneless                               939.72   939.72   939.72
Bread sliced 500g                           238.89   238.89   238.89
Bread unsliced 500g                         227.27   227.27   227.27
Broken Rice (Ofada)                         233.33   233.33   233.33
Catfish (obokun) fresh                      800.88   800.88   800.88
Catfish :dried                              966.67   966.67   966.67
Catfish Smoked                             1113.33  1113.33  1113.33
Chicken Feet                                348.33   348.33   348.33
Chicken Wings                               533.33   533.33   533.33
Dried Fish Sardine                          904.81   904.81   904.81
Evaporated tinned milk carnation 170g       142.50   142.50   142.50
Evaporated tinned milk(peak), 170g          162.14   162.14   162.14
Frozen chicken                             1100.00  1100.00  1100.00
Gari white,sold loose                       100.67   100.67   100.67
Gari yellow,sold loose                      113.79   113.79   113.79
Groundnut oil: 1 bottle, specify bottle     470.00   470.00   470.00
Iced Sardine                                554.55   554.55   554.55
Irish potato                                171.74   171.74   171.74
Mackerel : frozen                           713.87   713.87   713.87
Maize grain white sold loose                 94.56    94.56    94.56
Maize grain yellow sold loose                96.53    96.53    96.53
Mudfish (aro) fresh                         779.80   779.80   779.80
Mudfish : dried                            1174.85  1174.85  1174.85
Onion bulb                                  134.88   134.88   134.88
Palm oil: 1 bottle,specify bottle           432.00   432.00   432.00
Plantain(ripe)                              186.40   186.40   186.40
Plantain(unripe)                            168.57   168.57   168.57
Rice Medium Grained                         226.70   226.70   226.70
Rice agric sold loose                       237.18   237.18   237.18
Rice local sold loose                       211.84   211.84   211.84
Rice,imported high quality sold loose       284.89   284.89   284.89
Sweet potato                                 90.58    90.58    90.58
Tilapia fish (epiya) fresh                  550.00   550.00   550.00
Titus:frozen                                696.67   696.67   696.67
Tomato                                      194.95   194.95   194.95
Vegetable oil:1 bottle,specify bottle       386.67   386.67   386.67
Wheat flour: prepacked (golden penny 2kg)   510.00   510.00   510.00
Yam tuber                                   139.39   139.39   139.39

[43 rows x 192 columns]

#### Drop the rows where at least one element is missing(NaN)

In [39]:
fp.dropna()

,ItemLabels,Jan-17,Feb-17,Mar-17,Apr-17,May-17,Jun-17,Jul-17,Aug-17,Sep-17,...,May-18,Jun-18,Jul-18,Aug-18,Year on Year %,Month on Month %,high state,higher price,low state,lower price
0,Agric eggs medium size,597.00,591.82,586.32,526.32,528.42,526.50,468.24,492.63,473.68,...,462.35,496.92,477.04,503.81,2.27,5.61,Anambra,555.56,Yobe,405.56
1,Agric eggs(medium size price of one),50.74,54.14,51.05,49.41,49.28,45.43,40.88,41.18,40.31,...,41.14,39.23,40.19,42.57,3.39,5.94,Anambra,50.00,Gombe,34.00
2,"Beans brown,sold loose",416.70,418.10,395.17,358.96,388.76,412.53,424.56,488.13,484.87,...,400.00,457.55,495.90,467.76,-4.17,-5.67,Ebonyi,554.43,Bauchi,250.19
3,Beans:white black eye. sold loose,364.85,354.73,356.56,348.42,386.97,411.22,409.92,402.11,406.27,...,526.36,530.75,443.56,446.56,11.06,0.68,Ebonyi,493.76,Adamawa,245.58
4,Beef Bone in,1008.16,1025.56,1124.77,1055.56,1132.64,1169.07,1111.11,1122.83,1192.13,...,1500.00,1320.59,1256.79,1230.00,9.54,-2.13,Bayelsa,1279.19,Osun,754.05
5,"Beef,boneless",1363.31,1378.88,1320.91,1264.91,1404.39,1472.63,1451.51,1673.78,1640.57,...,1344.02,1324.71,1326.05,1522.50,-9.04,14.81,Lagos,1522.50,Oyo,939.72
6,Bread sliced 500g,308.05,304.00,299.52,289.47,294.21,307.62,291.18,272.22,266.67,...,295.56,296.32,305.17,295.00,8.37,-3.33,Bayelsa,414.55,Jigawa,238.89
7,Bread unsliced 500g,265.81,256.39,259.00,253.89,260.00,250.00,238.00,267.50,272.22,...,262.96,241.30,256.07,247.62,-7.43,-3.30,Bayelsa,413.64,Yobe,227.27
8,Broken Rice (Ofada),720.61,712.30,709.26,705.56,699.40,698.09,689.31,566.34,562.30,...,602.58,661.46,610.54,578.69,2.18,-5.22,Oyo,760.81,Benue,233.33
9,Chicken Feet,998.83,970.00,950.00,916.67,1025.00,1100.00,1140.00,1066.67,1067.20,...,811.80,875.00,1036.36,970.00,-9.06,-6.40,Ondo,1240.00,Taraba,348.33
10,Chicken Wings,1079.07,1098.21,1028.57,1062.13,1065.63,1117.65,1190.00,1200.00,1200.60,...,1125.96,1129.55,1177.78,1131.58,-5.70,-3.92,Ekiti,1350.00,Kebbi,533.33
11,Evaporated tinned milk carnation 170g,140.02,126.67,140.00,150.00,152.86,156.67,178.75,156.00,170.00,...,157.64,153.33,150.00,147.50,-5.45,-1.67,Ekiti,230.00,Gombe,142.50
12,"Evaporated tinned milk(peak), 170g",145.00,173.36,192.00,196.11,195.71,197.14,195.29,210.00,206.18,...,205.00,193.91,200.50,198.38,-5.53,-1.06,Kwara,204.00,Gombe,162.14
13,Frozen chicken,1172.56,1290.97,1244.44,1378.95,1357.89,1438.10,1466.67,1331.58,1340.00,...,1325.68,1264.58,1303.45,1245.00,-6.50,-4.48,Yobe,2350.58,Kano,1100.00
14,"Gari white,sold loose",208.10,270.37,304.94,280.03,282.70,317.60,319.90,334.96,319.95,...,225.94,206.88,195.07,204.80,-38.86,4.99,Kogi,381.01,Cross River,100.67
15,"Gari yellow,sold loose",264.82,267.65,317.41,302.72,313.43,347.77,366.57,370.38,374.52,...,299.23,314.88,317.15,334.34,-9.73,5.42,Sokoto,401.64,Cross River,113.79
16,Mudfish (aro) fresh,1132.35,1480.63,1313.64,1088.89,1050.00,1057.52,1180.00,1162.50,1157.14,...,1285.37,1109.38,1190.48,1216.05,4.61,2.15,Akwa Ibom,1483.86,Gombe,779.80
17,Mudfish : dried,2475.72,2169.01,2206.00,2215.99,2331.72,2204.17,2405.77,2464.29,2483.33,...,2093.91,2000.79,2200.00,1991.67,-19.18,-9.47,Ekiti,3170.68,Kaduna,1174.85
18,Onion bulb,294.95,315.80,322.45,285.21,287.30,294.36,283.69,397.35,322.44,...,301.15,353.82,350.57,347.97,-12.43,-0.74,Ogun,358.32,Bauchi,134.88
19,Rice agric sold loose,298.78,429.57,392.51,369.78,379.26,376.03,363.02,337.75,336.16,...,328.71,313.20,318.35,314.09,-7.01,-1.34,Kogi,613.04,Katsina,237.18
20,Rice local sold loose,321.03,359.37,344.44,345.00,391.67,400.00,399.50,367.98,372.50,...,309.67,296.88,290.00,304.84,-17.16,5.12,Bayelsa,420.02,Bauchi,211.84
21,Rice Medium Grained,280.82,340.33,322.12,322.58,330.12,336.35,317.54,324.25,336.77,...,316.74,323.53,322.58,322.58,-0.51,0.00,Bayelsa,458.13,Gombe,226.70
22,"Rice,imported high quality sold loose",402.54,417.94,386.96,329.84,370.33,371.20,383.14,319.24,344.76,...,318.24,315.96,330.06,338.55,6.05,2.57,Bayelsa,521.65,Kebbi,284.89
23,Tomato,300.00,534.61,456.36,450.00,522.49,527.64,566.98,587.27,450.91,...,560.00,565.41,592.51,523.11,-10.93,-11.71,Rivers,563.47,Taraba,194.95
24,Yam tuber,209.06,216.46,221.47,233.42,297.70,302.36,303.43,312.87,258.48,...,408.33,463.79,437.72,430.34,37.55,-1.69,Osun,488.02,Borno,139.39
25,Dried Fish Sardine,1998.22,1976.39,1921.17,1921.48,1993.36,1981.11,1993.06,1924.07,1890.34,...,1384.64,1396.96,1395.90,1401.74,-27.15,0.42,Adamawa,1751.12,Oyo,904.81
26,Iced Sardine,820.80,817.02,814.21,828.89,828.82,813.12,831.25,848.42,842.46,...,859.93,861.51,960.14,991.25,16.83,3.24,Niger,1283.48,Ogun,554.55
27,Irish potato,326.94,320.42,325.64,321.98,320.20,328.92,327.52,335.12,330.27,...,377.78,389.37,405.00,378.70,13.00,-6.49,Cross River,403.19,Taraba,171.74
28,Sweet potato,137.91,135.68,138.25,138.97,139.04,144.97,146.52,148.18,148.49,...,164.54,175.74,197.27,198.77,34.14,0.76,Kaduna,291.69,Bauchi,90.58
29,Tilapia fish (epiya) fresh,864.48,949.40,956.95,942.13,938.57,1012.15,1057.74,1038.20,1066.67,...,1218.93,1161.11,1208.70,1216.67,17.19,0.66,Nassarawa,1782.72,Bauchi,550.00
30,Titus:frozen,929.50,933.64,972.92,931.68,981.68,1063.57,1058.89,1051.11,999.41,...,1020.52,986.43,970.37,971.43,-7.58,0.11,Abuja,1170.00,Jigawa,696.67
31,Catfish (obokun) fresh,1239.16,1297.93,1259.55,1332.69,1394.20,1390.84,1395.04,1396.70,1381.66,...,1256.14,1271.97,1300.75,1312.70,-6.01,0.92,Lagos,1312.70,Yobe,800.88
32,Catfish :dried,2252.65,2300.35,2369.82,2359.63,2365.06,2404.51,2400.69,2400.00,2385.84,...,1827.48,1891.67,1852.86,1854.03,-22.75,0.06,Abia,2688.69,Sokoto,966.67
33,Catfish Smoked,1554.26,1576.92,1575.00,1509.26,1500.50,1513.64,1522.30,1526.37,1514.37,...,1500.00,1511.75,1600.00,1671.98,9.54,4.50,Yobe,2000.14,Kwara,1113.33
34,Mackerel : frozen,1030.19,993.01,987.50,1067.59,1049.43,1051.37,1094.03,1065.34,1065.45,...,1027.93,980.95,927.16,963.02,-9.60,3.87,Cross River,1020.53,Ekiti,713.87
35,"Groundnut oil: 1 bottle, specify bottle",483.30,486.66,492.22,500.00,504.13,484.44,480.00,500.00,490.36,...,560.62,606.67,533.33,602.22,20.44,12.92,Ebonyi,733.33,Ogun,470.00
36,Maize grain white sold loose,222.99,219.01,224.22,236.16,242.02,244.87,269.29,244.56,208.39,...,238.98,250.42,250.46,211.33,-13.59,-15.62,Bayelsa,301.51,Taraba,94.56
37,Maize grain yellow sold loose,221.35,232.54,224.85,242.80,245.88,252.72,279.65,263.04,219.42,...,250.54,255.37,224.45,218.21,-17.04,-2.78,Bayelsa,347.81,Taraba,96.53
38,"Palm oil: 1 bottle,specify bottle",410.50,423.56,472.48,508.85,500.00,518.52,523.80,550.00,559.32,...,455.56,500.00,482.67,501.75,-8.77,3.95,Edo,587.41,Osun,432.00
39,Plantain(ripe),302.21,300.00,287.36,261.97,243.92,255.28,276.84,234.50,256.89,...,259.20,240.24,222.75,229.31,-2.21,2.94,Sokoto,411.76,Bayelsa,186.40
40,Plantain(unripe),307.14,284.35,283.09,292.20,283.11,286.05,270.61,256.92,284.83,...,203.66,190.48,205.04,198.79,-22.63,-3.05,Plateau,441.52,Bayelsa,168.57
41,"Vegetable oil:1 bottle,specify bottle",598.42,507.26,538.18,552.81,559.14,550.00,555.55,578.57,555.30,...,566.67,530.30,523.08,522.81,-9.64,-0.05,Kogi,762.67,Niger,386.67
42,Wheat flour: prepacked (golden penny 2kg),636.66,666.27,631.25,625.79,622.55,639.04,639.44,644.09,602.52,...,632.90,619.05,610.37,594.74,-7.66,-2.56,Bayelsa,742.00,Zamfara,510.00

#### How many rows and columns are there in the dataframe?

In [40]:
fp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 27 columns):
ItemLabels          43 non-null object
Jan-17              43 non-null float64
Feb-17              43 non-null float64
Mar-17              43 non-null float64
Apr-17              43 non-null float64
May-17              43 non-null float64
Jun-17              43 non-null float64
Jul-17              43 non-null float64
Aug-17              43 non-null float64
Sep-17              43 non-null float64
Oct-17              43 non-null float64
Nov-17              43 non-null float64
Dec-17              43 non-null float64
Jan-18              43 non-null float64
Feb-18              43 non-null float64
Mar-18              43 non-null float64
Apr-18              43 non-null float64
May-18              43 non-null float64
Jun-18              43 non-null float64
Jul-18              43 non-null float64
Aug-18              43 non-null float64
Year on Year %      43 non-null float64
Month on Month %    43 non-null float64
high state          43 non-null object
higher price        43 non-null float64
low state           43 non-null object
lower price         43 non-null float64
dtypes: float64(24), object(3)
memory usage: 9.4+ KB

#### What is the average of the higher price spent on purchase of food items?

In [41]:
fp['higher price'].mean()

890.9565116279069

#### What is the average of the lower price spent on purchase of food items?

In [42]:
fp['lower price'].mean()

421.433953488372

#### What was the highest purchase price on food items in August 2018?

In [43]:
fp['Aug-18'].max()

1991.67

#### What was the lowest purchase price on food items in August 2018?

In [50]:
fp['Aug-18'].min()

42.57

#### What are the seven most popular states with high prices of food items?

In [61]:
fp['high state'].value_counts().head(7)

Bayelsa     9
Kogi        3
Ekiti       3
Lagos       2
Anambra     2
Sokoto      2
Ebonyi      2
Name: high state, dtype: int64

#### What are the seven most popular states with lower prices of food items?

In [62]:
fp['low state'].value_counts().head(7)

Bauchi     5
Gombe      5
Taraba     5
Kebbi      2
Jigawa     2
Oyo        2
Ogun       2
Name: low state, dtype: int64

#### What is the percentage of the change in price for Agric eggs medium size from Year January 2017 to August 2018 in Lagos state?

In [67]:
fp[fp["ItemLabels"] == 'Agric eggs medium size']['Year on Year %']

0    2.27
Name: Year on Year %, dtype: float64

#### What is the percentage of the change in price for yellow Garri from Year January 2017 to August 2018 in Lagos state?

In [68]:
fp[fp["ItemLabels"] == 'Gari yellow,sold loose']['Year on Year %']

15   -9.73
Name: Year on Year %, dtype: float64

#### What is the percentage of the change in price for Chicken Wings from July 2018 to August 2018 in Lagos state?

In [69]:
fp[fp["ItemLabels"] == 'Chicken Wings']['Month on Month %']

10   -3.92
Name: Month on Month %, dtype: float64

TypeError: 'float' object is not subscriptable